<div class="row panel-kpi">
	<div class="panel-heading">Westpac DDA - London Format</div>

	<div class="panel-body">
		<table border="1" class="dda-wrapper-table">
			<tr>
				<td align="center">

					<table border="0" class="dda-form-table">
						<tr>
							<td><div class="row westpac-row">
									<label class="col-md-3">Dealer Information</label>
								</div></td>
						</tr>
						<tr>
							<td>
								<table border="0" class="dda-form-table">
									<tr>
										<td width="50%"><label class="col-md-3">Salary
												Number</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search" placeholder="Salary Number"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
										<td width="50%"><label class="col-md-3">Name</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search" placeholder="Name"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>


									<tr>
										<td><div class="row westpac-row">
												<label class="col-md-3">Dealer Profile</label>
											</div></td>
									</tr>

									<tr>
										<td><label class="col-md-3">Product &
												Service Restrictions</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search" placeholder="Salary Number"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
										<td><label class="col-md-3">Local
												Manager</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search" placeholder="Local Manager"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>

									<tr>
										<td></td>
										<td><label class="col-md-3">Line Manager</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search" placeholder="Line Manager"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td><div class="row westpac-row">
									<label class="col-md-3">FSA Exams Takesn & Passed</label>
								</div></td>
						</tr>

						<tr>
							<td><label class="col-md-3">Product & Services
									Restrictions</label></td>
						</tr>

						<tr>
							<td>
								<table border="0" class="dda-form1-table">
									<tr>
										<td width="50%"><label class="col-md-3">Unit
												2-Securities Date</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Unit 2-Securities Date"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
										<td width="50%"><label class="col-md-3">Unit
												3-Securities Date</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Unit 3-Securities Date"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>

									<tr>
										<td><label class="col-md-3">Free Text</label>
											<div class="col-md-9">
												<textarea class="form-control search"></textarea>
											</div></td>
										<td><label class="col-md-3">Free Text</label>
											<div class="col-md-9">
												<textarea class="form-control search"></textarea>
											</div></td>
									</tr>

									<tr>
										<td><label class="col-md-3">Unit 2-Securities
												Date</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Unit 2-Securities Date"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
										<td><label class="col-md-3">Unit 3-Securities
												Date</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Unit 3-Securities Date"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>

									<tr>
										<td><label class="col-md-3">Free Text</label>
											<div class="col-md-9">
												<textarea class="form-control search"></textarea>
											</div></td>
										<td><label class="col-md-3">Free Text</label>
											<div class="col-md-9">
												<textarea class="form-control search"></textarea>
											</div></td>
									</tr>

									<tr>
										<td><label class="col-md-3">Unit 6-Principles of
												Regulation</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Unit 2-Securities Date"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
										<td><label class="col-md-3">AFMA Accrediation</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Unit 3-Securities Date"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>

									<tr>
										<td><label class="col-md-3">Free Text</label>
											<div class="col-md-9">
												<textarea class="form-control search"></textarea>
											</div></td>
										<td><label class="col-md-3">Free Text</label>
											<div class="col-md-9">
												<textarea class="form-control search"></textarea>
											</div></td>
									</tr>

									<tr>
										<td>&nbsp;</td>
									</tr>
									<tr>
										<td colspan="2"><label class="col-md-3">Business
												Unit</label></td>
									</tr>
									<tr>
										<td><label class="col-md-3">Business/Support Unit</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search"
													placeholder="Business/Support Unit"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
										<td><label class="col-md-3">Trading/Sales</label>
											<div class="col-md-9">
												<input ng-model="search" type="text"
													class="form-control search" placeholder="Trading/Sales"
													ng-hide="selectedMessagesCount > 0" />
											</div></td>
									</tr>

									<tr>
										<td colspan="2"><label class="col-md-3">Products
												& Instruments</label></td>
									</tr>
									<tr>
										<td colspan="3"><label class="col-md-9">Product
												Category (ex: Debt Securities)</label></td>
									</tr>


								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table class="table" border="1">
									<thead>
										<tr>
											<th sort by="order" reverse="reverse" order="'priority'">Selections
												(all [])</th>
											<th sort by="order" reverse="reverse" order="'priority'">Product
												Classify</th>
											<th sort by="order" reverse="reverse" order="'type'">Product
												Type</th>
											<th sort by="order" reverse="reverse" order="'title'">Underlying</th>
											<th sort by="order" reverse="reverse" order="'desk'">Tenor</th>
											<th sort by="order" reverse="reverse" order="'sender'">OTC/Exchange</th>
											<th sort by="order" reverse="reverse" order="'time'">Exchange?</th>
											<th sort by="order" reverse="reverse" order="'time'">Physical
												Delivery/Cash Settled</th>
											<th sort by="order" reverse="reverse" order="'time'">A1
												: Arranging Deals in Investments</th>
											<th sort by="order" reverse="reverse" order="'time'">A2
												: Arranging Deals as Principle</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="message in displayedMessages track by message.id"
											class="message"
											ng-class="{'unread':!message.read, 'active':message.id === selectedMessageId}"
											ng-click="showMessage(message)">
											<td>
												<button type="button"
													class="btn btn-default btn-toogle  btn-selectmsg"
													ng-click="toggleSelection()">
													<i glyphicon="ok"
														ng-show="visibleSelectedMessagesCount > 0 && visibleSelectedMessagesCount === displayedMessages.length"></i>
													<i glyphicon="minus"
														ng-show="0 < visibleSelectedMessagesCount && visibleSelectedMessagesCount < displayedMessages.length"></i>
												</button>
											</td>
											<td><span
												class="label level-label label-{{message.levelClass}}"></span></td>
											<td>{{message.messageType}}</td>
											<td>{{message.title}}</td>
											<td>{{message.desk}}</td>
											<td>{{message.sender}}</td>
											<td><span relatime="message.time" /></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="2"><label class="col-md-9">Next Product
									Category (ex:Government Bond Futures)</label></td>
						</tr>
						<tr>
							<td>
								<table class="table" border="1">
									<thead>
										<tr>
											<th sort by="order" reverse="reverse" order="'priority'">Selections
												(all [])</th>
											<th sort by="order" reverse="reverse" order="'priority'">Product
												Classify</th>
											<th sort by="order" reverse="reverse" order="'type'">Product
												Type</th>
											<th sort by="order" reverse="reverse" order="'title'">Underlying</th>
											<th sort by="order" reverse="reverse" order="'desk'">Tenor</th>
											<th sort by="order" reverse="reverse" order="'sender'">OTC/Exchange</th>
											<th sort by="order" reverse="reverse" order="'time'">Exchange?</th>
											<th sort by="order" reverse="reverse" order="'time'">Physical
												Delivery/Cash Settled</th>
											<th sort by="order" reverse="reverse" order="'time'">A1
												: Arranging Deals in Investments</th>
											<th sort by="order" reverse="reverse" order="'time'">A2
												: Arranging Deals as Principle</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="message in displayedMessages track by message.id"
											class="message"
											ng-class="{'unread':!message.read, 'active':message.id === selectedMessageId}"
											ng-click="showMessage(message)">
											<td>
												<button type="button"
													class="btn btn-default btn-toogle  btn-selectmsg"
													ng-click="toggleSelection()">
													<i glyphicon="ok"
														ng-show="visibleSelectedMessagesCount > 0 && visibleSelectedMessagesCount === displayedMessages.length"></i>
													<i glyphicon="minus"
														ng-show="0 < visibleSelectedMessagesCount && visibleSelectedMessagesCount < displayedMessages.length"></i>
												</button>
											</td>
											<td><span
												class="label level-label label-{{message.levelClass}}"></span></td>
											<td>{{message.messageType}}</td>
											<td>{{message.title}}</td>
											<td>{{message.desk}}</td>
											<td>{{message.sender}}</td>
											<td><span relatime="message.time" /></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td>
								<div ng-include="'resources/partials/dda-form-approvals.html'"></div>
							</td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>

						<tr>
							<td>
								<div ng-include="'resources/partials/dda-form-conditions.html'"></div>

							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td align="center"><input type="button"
								class="btn btn-primary" value="Create DDA"></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>

</div>
